*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html , body{
    font-family: 'SF Regular';
    font-size: 14px;
}
@font-face {
    font-family: 'SF Regular';
    src: url('../asset/fonts/SF-UI-Display-Regular.otf');
  }