.register{
    background:url('../asset/bg2.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 100%;
    width: 100%;
    padding:4% 0;
    .registerForm{
        // width:500px;
        margin:0 auto;
        height: auto;
        padding:20px 20px 0 20px;
        border-radius: 10px;
        background-color: $color-white-0;
        input{
            border:none;
        }
        .input__line{
            background:none;
            border:none;
            border-bottom: 1.5px solid $color-red-0;
            font-size: 15px;
            font-weight: $fw-2;
            box-shadow: none;
            &::after{
                content:'';
                width: 100px;
                height: 3px;
                display: block;
                background:linear-gradient(to right,#f8a193,$color-red-0) ;
                box-shadow: 0 0 20px 0 #f8a193;
                transition: 0.5s;
            }
            &:hover{
                &::after{
                    width: 100%;
                }
                
            }
        }
        .buttonRegister{
            margin-top:10px;
            width: 100%;
            font-size: 17px;
            border-radius: 5px;
            padding:5px 30px;
            outline: none;
            border: 1px solid $color-red-0;
            color: $color-white-0;
            background-color: $color-red-0;
            transition: .5s;
            &:hover{
                border: 1px solid $color-gray-0;
                color:$color-gray-0;
                background-color: $color-white-0;
            }
        }
        .registerLink{
            color:$color-red-0;
            font-weight: $fw-1;
        }
        .ant-picker-input {
            &>input{
                font-size: 15px;
                font-weight: $fw-2;
            }
        }
        ::placeholder {
            color:#495057
          }
        .ant-picker {
            border:none;
            border-bottom: 1px solid $color-red-0 ;
            padding:7px 11px 4px;
        }
        .ant-picker-focused {
            border: 0 !important;
            box-shadow: none;
            border-bottom: 1px solid $color-red-0 !important;
        }
        .text-danger{
            font-size: 13px;
            margin: 0 !important;
        }
    }
    .form-group.row {
        align-items: flex-start;
    }
    .ant-alert-message {
        font-size: 12px;
        color: $color-red-1;
    }
}

@include responsive("medium") {
    .register{
        .form-group{
            margin-bottom: 0 !important;
        }
    }
}