* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'SF Regular';
  font-size: 14px;
}

@font-face {
  font-family: 'SF Regular';
  src: url("../asset/fonts/SF-UI-Display-Regular.otf");
}

.header {
  display: flex;
  position: relative;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 15px #a5a4a4;
  height: 60px;
}

.header .header__logo img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.header .header__nav {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 500;
  transform: translate(-50%, -50%);
}

.header .header__nav ul {
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
}

.header .header__nav ul li {
  list-style: none;
  margin-right: 15px;
}

.header .header__nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: 0.2s;
}

.header .header__nav ul li a:hover {
  color: #fb4226;
}

.header .header__detail {
  position: absolute;
  top: 20%;
  right: 25px;
  display: flex;
  line-height: 30px;
}

.header .header__detail ::after {
  content: '';
  position: absolute;
  right: 53%;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  border-right: 1px solid #fff;
  border-right-color: #e9e9e9;
}

.header .header__detail .header__detail__login {
  margin-right: 15px;
}

.header .header__detail .header__detail__login a {
  text-decoration: none;
  color: #9b9b9b;
}

.header .header__detail .header__detail__login a img {
  width: 30px;
  height: auto;
  border-radius: 25px;
  margin-right: 10px;
}

.header .header__detail .header__detail__pos {
  width: 10%;
  line-height: 30px;
  padding: 0 0 0 5px;
  cursor: pointer;
  position: relative;
}

.header .header__detail .header__detail__pos .header__choose__pos {
  width: 120px;
}

.header .header__detail .header__detail__pos .header__pos__icon {
  position: absolute;
  top: 45%;
  right: -120px;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.header .header__detail .header__detail__pos #dropdownMenuLink {
  color: #9b9b9b;
}

.header .header__detail .header__detail__pos .dropdown-menu {
  width: 160px;
}

.header .header__detail .header__detail__pos .dropdown-menu .dropdown-item {
  padding: 0 25px;
  transition: none;
}

.header .header__detail .header__detail__pos .dropdown-menu .dropdown-item:hover, .header .header__detail .header__detail__pos .dropdown-menu .dropdown-item:focus {
  background-color: #60c5ef;
  color: #fff;
}

.header .header__detail .header__detail__pos .dropdown-menu.show {
  top: 20% !important;
  left: 0px;
  color: black;
}

.movie__carousel {
  position: relative;
  margin-top: 60px;
}

.movie__carousel .carousel__button {
  position: absolute;
  bottom: 100px;
}

.movie__carousel .carousel__button li {
  margin-left: 3px;
  opacity: 1;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #fff;
}

.movie__carousel .carousel__button li.active {
  background-color: #fb4226;
}

.movie__carousel .movie__carousel__item .carousel-item img {
  height: 100% !important;
  display: block;
}

.movie__carousel .carousel-control-prev span img, .movie__carousel .carousel-control-next span img {
  height: 50px;
  width: 50px;
}

.movie__carousel .carousel-control-prev {
  margin-left: 20px;
  justify-content: flex-start;
}

.movie__carousel .carousel-control-next {
  margin-right: 20px;
  justify-content: flex-end;
}

.formGetTicket {
  position: absolute;
  bottom: -50px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 15px #a5a4a4;
  border-radius: 10px;
  background-color: #fff;
  left: 50%;
  transform: translate(-50%);
}

.formGetTicket .row {
  height: 90px;
}

.formGetTicket .row #btnBuy {
  background-color: #4a4a4a !important;
}

.formGetTicket .row .dropdown {
  border-right: 1px solid #d8d8d8;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.formGetTicket .row .dropdown ::-webkit-scrollbar {
  width: 6px;
}

.formGetTicket .row .dropdown ::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.formGetTicket .row .dropdown ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.formGetTicket .row .dropdown ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.formGetTicket .row .dropdown .dropdown-title {
  font-size: 15px !important;
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden !important;
  padding-right: 22px !important;
}

.formGetTicket .row .dropdown .dropdown-menu {
  position: absolute;
  max-height: 300px;
  overflow-y: scroll;
  transform: translate3d(0px, 35px, 0px) !important;
  z-index: 20;
  min-width: 160px;
  left: 0 !important;
  top: 0 !important;
}

.formGetTicket .row .dropdown .selectMenu {
  position: absolute;
  right: 10px;
  top: 50%;
  height: 7px;
  width: 13px;
  background-size: cover;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=main.css.map */