.adminMovieShedule .seat {
    width: 26px;
    height: 26px;
    border: none !important;
    outline: none !important;
    border-radius: 5px;
    margin: 5px;
    background-color: #3e515d;
}
.adminMovieShedule .listSeatRow {
    display: flex;
    align-items: center;
}
.adminMovieShedule .listSeatRow .seatChart {
    text-align: center;
    margin-right: 10px;
    width: 20px;
    font-size: 15px;
    border-radius: 3px;
    color:#a7a2a2;
    border:1px solid #a7a2a2;  
}
.adminMovieShedule .ant-card-head-wrapper {
    background-color: #fb4226;
    padding-left:10px;
    color: white;
    border-radius: 10px;
}
.adminMovieShedule .seatBooked {
    background-color: #ccc !important;
    cursor: no-drop !important;
}

.adminMovieShedule .seatVIP {
    background-color: #f7b500 !important;
}

.adminMovieShedule .seatBooking {
    background-color: greenyellow !important;
}
.adminMovieShedule .seatVIPBooked {
    background-color: #ef533b !important;
}
