
.movie__carousel{
    position: relative;
    margin-top: 60px;
    .carousel__button{
        position: absolute;
        bottom: 100px;
        li{
            margin-left: $mg-0 + 1;
            opacity: 1;
            border-radius: $border-radius-3;
            width:12px;
            height:12px;
            background-color: $color-white-0;
            &.active{
                background-color: $color-red-0;
            }
        }
        
    }
    .movie__carousel__item{
        // height:100%;
        .carousel-item{
            // height: 700px;
            // background-repeat: no-repeat;
            // background-size: cover;
            img{
                height:100% !important;
                display: block;
            }
        }
    }
    .carousel-control-prev, .carousel-control-next{
        span{
            img{
                height:$width-1;
                width:$height-1;
            }
        }
    }
    .carousel-control-prev{
        margin-left:$mg-3;
        justify-content: flex-start;
    }
    .carousel-control-next{
        margin-right:$mg-3;
        justify-content: flex-end;
    }
    
}

// responsive

@include responsive("medium") {
    .carousel__button{
        display: none !important;
    }
}