.formGetTicket{
    position: absolute;
    bottom: -50px;
    background-color: rgba(255,255,255,.95);
    box-shadow: 0 0 15px rgb(165, 164, 164);
    border-radius: $border-radius-0;
    background-color: $color-white-0;
    font-weight: 500;
    left:$position-2;
    transform: translate(-$position-2);
    .row{
        height:$height-2 - 10px;
        #btnBuy{
            background-color: #4a4a4a !important;
        }
        .dropdown{
            border-right: 1px solid $color-gray-1;
            position: relative;
            text-overflow: ellipsis;
            white-space: nowrap;
            // set scrollbar
            /* width */
            ::-webkit-scrollbar {
                width: 6px;
            }
            
            /* Track */
            ::-webkit-scrollbar-track {
                background: #f1f1f1; 
                border-radius: 5px;
            }
            
            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: #888; 
                border-radius: 5px;
            }
            
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555; 
            }
            .dropdown-title{
                font-size: $fs-1  !important;
                color: $color-black-0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden !important;
                padding-right: 22px !important;
            }
            .dropdown-menu{
                position: absolute;
                max-height: 300px;
                overflow-y: scroll;
                transform: translate3d(0px, 35px, 0px)!important;
                z-index: 10000 !important;
                position: fixed;
                color:red !important;
                min-width: 160px;
                left:0 !important;
                top:0 !important;
                box-shadow: 0 6px 12px rgb(221, 218, 218);
            }
           .selectMenu{
               position: absolute;
               right:10px;
               top:50%;
               height: 7px;
               width: 13px;
               background-size: cover;
               background-repeat: no-repeat;
            //    background-image: url('./images/dropdown-icon.png');
           }
        }
    }
}

