.listComment {
    padding: 0;
    scroll-behavior: smooth;
    .comment {
        position: relative;
        padding: 10px 20px;
        margin-top: 20px;
        background-color: $color-white-0;
        border-radius: 5px;
        width: 100%;
        .comment__header {
            display: flex;
            align-items: center;
            .avatar__user {
                width: 50px;
                height: 50px;
                border-radius: 50px;
            }
            .comment__info {
                margin-left: 10px;
                .username__user {
                    font-weight: $fw-3;
                    font-size: 1.1rem;
                }
            }
        }
        .comment__user {
            padding: 30px 0 !important;
            color: #4a4a4a!important;
            font-size: 1.1rem;
            font-weight: $fw-1;
            border-bottom: 1px solid $color-gray-1;
        }
        .interactLike{
            display: flex;
            align-items: center;
            .imgLike{
                cursor: pointer;
                width:25px;
                height: 25px;
                margin-right: 10px;
            }
        }
        .rate {
            position: absolute;
            top: 10px;
            right: 2%;
            text-align: center;
            .ratePoint {
                color: #91d25a;
                font-size: 16px;
                margin:0;
            }
            .rateStar{
                width: 15px;
                height: 15px;
            }
        }
    }
}
.btnLoadMore{
    margin:0 auto;
    margin-top:$mg-5;
    text-transform: uppercase;
    outline: none !important;
    padding: 10px 30px;
    color:$color-gray-0;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    border: 1px solid $color-gray-0;
    transition: all .2s;
    &:hover{
        border: 1px solid $color-red-0;
        color:$color-white-0;
        background-color: $color-red-0;
    }

}