.info__cinema{
    display: flex;
    position: relative;
    opacity: .5;
    width:200px;
    cursor: pointer;
    transition: all .2s;
    &.active{
        opacity: 1;
    }
    &:hover{
        opacity: 1;
    }
    // &::after{
    //     content: '';
    //     position: absolute;
    //     bottom: 0px;
    //     left: 50%;
    //     width: calc(100% - 40px);
    //     transform: translateX(-50%);
    //     border-bottom: 1px solid #fff;
    //     border-color: rgba(238,238,238,.88);
    // }
    .wrapInfo{
        width:100%;
        padding-left: 10px;
        position: relative;
        cursor: pointer;
        text-align: left;
        .infoTitle{
            width:90%;
            font-size: 14px;
            font-weight: $fw-1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .infoAdd{
            width:90%;
            font-size: 13px;
            color:$color-gray-0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .infoDetail{
            color: #fb4226!important;
            font-size: 13px;
        }
    }
}

.ant-row.listCinemas {
    border: 1px solid #ebebec;
    .ant-tabs-nav-list {
        div#rc-tabs-0-panel-0 {
            padding: 0 !important;
        }
        
        
        
    }
    .ant-col.ant-col-24 {
        border-left:1px solid #ebebec;
        .ant-tabs-tab{
            opacity: 0.5 ;
            &::after{
                content: '';
                position: absolute;
                bottom: 0px;
                left: 50%;
                width: calc(100% - 40px);
                transform: translateX(-50%);
                border-bottom: 1px solid #ebebec;
                border-color: rgba(238,238,238,.88);
            }
            &:hover{
                opacity: 1 ;
            }
            &.ant-tabs-tab-active{
                opacity: 1 ;
            }
        }
        .ant-menu-submenu-title {
            height: 50px;
            .movie__listCinema {
                display: flex !important;
                max-width: 40px;
                .typeAgeMovieCinema{
                    color:$color-white-0;
                    background-color: $color-red-0;
                    border-radius: 4px;
                    min-width: 33px;
                    text-align: center;
                    display: inline-block;
                    margin-right: 8px;
                }
                .infoFilmDetail{
                    position: relative;
                    .nameMovieCinema{
                        position: absolute;
                        top:-10px;
                        height: 20px;
                        font-weight: 500;
                    }
                    .infoFilmMovieCinema{
                        position: absolute;
                        top:10px;
                        height: 20px;
                        font-size: 12px;
                        color:$color-gray-0;
                    }
                }
                
            }
            
        }
        .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab, .ant-tabs-right > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab, .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab, .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
            margin: 10px 0 0 0;
        }
        .ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane, .ant-tabs-left > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
            padding-left: 0 !important; 
        }
        .ant-menu.ant-menu-sub.ant-menu-inline{
            // display: flex !important;
            // flex-flow: wrap !important;
            li.ant-menu-item.ant-menu-item-only-child {
                padding:0 10px !important;
            }
        }
        
        
    }
    .ant-card-body {
        display: flex !important;
    }
}
