.info__cinema {
    display: flex;
    position: relative;
    // opacity: .5;
    width: 200px;
    cursor: pointer;
    transition: all 0.2s;
    &.active {
        opacity: 1;
    }
    &:hover {
        opacity: 1;
    }
    .wrapInfo {
        width: 100%;
        padding-left: 10px;
        position: relative;
        cursor: pointer;
        text-align: left;
        .infoTitle {
            color: $color-black-0;
            width: 90%;
            font-size: 14px;
            font-weight: $fw-1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .infoAdd {
            width: 90%;
            font-size: 13px;
            color: $color-gray-0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .infoDetail {
            color: #fb4226 !important;
            font-size: 13px;
        }
    }
}
.movie__listCinemas {
    .ant-collapse {
        background-color: $color-white-0;
    }
    .hideOnPC {
        display: none;
    }
    .listCinemasMobile {
        .titleCinemaMobile {
            display: flex;
            align-items: center;
            .logoCinemasMobile {
                width: 50px;
                height: 50px;
                margin-right: 10px;
            }
            .nameCinemasMobile {
                font-size: 17px;
            }
        }
        .titleCinemasChildMobile {
            display: flex;
            align-items: center;
            .logoCinemasChildMobile {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }
            .nameCinemasChildMobile {
                color: $color-black-0;
                font-weight: 600;
            }
            .addCinemasChildMobile {
                font-size: 13px;
                color: $color-gray-0;
            }
        }
        .infoFilmCinemaMobile{
            display: flex;
            align-items: center;
            .imgFilmMobile{
                width: 40px;
                height: 40px;
                border-radius: 3px;
                margin-right: 10px;
            }
            .infoFilmMobileDetail{
                .typeAgeMobile{
                    color: $color-white-0;
                    background-color: $color-red-0;
                    border-radius: 4px;
                    min-width: 33px;
                    text-align: center;
                    display: inline-block;
                    margin-right: 8px;
                }
                .nameFilmCinemaMobile{
                    font-weight: 600;
                }
                .timeReviewFilmMobile{
                    font-size: 12px;
                    color: $color-gray-0;
                }
            }
        }
        .movieTime {
            width: calc(50% - 10px) !important;
            padding: 5px 10px;
            border: 1px solid $color-gray-0;
            text-align: center;
            border-radius: 7px;
            color: #9b9b9b;
            background-color: #fafafa;
            border: 1px solid #e4e4e4;
            cursor: pointer;
            margin:0 10px 10px 0 !important;
            .mainTime{
                font-size:1.2rem;
                color:$color-green-0;
                &:hover{
                    color: $color-red-0;
                }
            }
        }
        .cinemaChildMobile{
            .ant-collapse-content > .ant-collapse-content-box {
                padding: 10px 0 ;
                border:0;
            }
            .ant-collapse.ant-collapse-icon-position-right.filmMobile {
                border: none;
            }
        }
        .ant-collapse.ant-collapse-icon-position-right.cinemaChildMobile {
            border:none;
            border-radius: 20px !important;
        }
    }
}
.ant-row.listCinemas {
    border: 1px solid #ebebec;
    .ant-tabs-nav-list {
        div#rc-tabs-0-panel-0 {
            padding: 0 !important;
        }
    }
    .ant-col.ant-col-24 {
        border-left: 1px solid #ebebec;
        .ant-tabs-tab {
            opacity: 0.5;
            &::after {
                content: "";
                position: absolute;
                bottom: 0px;
                left: 50%;
                width: calc(100% - 40px);
                transform: translateX(-50%);
                border-bottom: 1px solid #ebebec;
                border-color: rgba(238, 238, 238, 0.88);
            }
            &:hover {
                opacity: 1;
                color: $color-black-0;
            }
            &.ant-tabs-tab-active {
                color: $color-black-0;
                opacity: 1;
            }
        }
        .ant-menu-submenu-title {
            height: 50px;
            .movie__listCinema {
                display: flex !important;
                max-width: 40px;
                .typeAgeMovieCinema {
                    color: $color-white-0;
                    background-color: $color-red-0;
                    border-radius: 4px;
                    min-width: 33px;
                    text-align: center;
                    display: inline-block;
                    margin-right: 8px;
                }
                .infoFilmDetail {
                    position: relative;
                    .nameMovieCinema {
                        position: absolute;
                        top: -10px;
                        height: 20px;
                        font-weight: 500;
                    }
                    .infoFilmMovieCinema {
                        position: absolute;
                        top: 10px;
                        height: 20px;
                        font-size: 12px;
                        color: $color-gray-0;
                    }
                }
            }
        }
        .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
        .ant-tabs-right > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
        .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
        .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
            margin: 10px 0 0 0;
        }
        .ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane,
        .ant-tabs-left > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
            padding-left: 0 !important;
        }
        .ant-menu.ant-menu-sub.ant-menu-inline {
            // display: flex !important;
            // flex-flow: wrap !important;
            li.ant-menu-item.ant-menu-item-only-child {
                padding: 0 10px !important;
            }
        }
    }
    .ant-card-body {
        display: flex !important;
    }
}

// responsive
@include responsive("medium") {
    .hideOnMobile {
        display: none !important;
    }
}
