.movie__tab {
    padding-top: 75px;
    // margin:0 auto;
    .back__news{
        padding-top:120px;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .movie__tab__title {
        .tab__tittle__item {
            justify-content: center;
            border: 0;
            .nav-item {
                border: 0;
                font-size: 20px;
                color: $color-black-0;
                font-weight: 500;
                transition: 0.2s;
                &.active {
                    font-size: 24px;
                    color: $color-red-0;
                }
                &:hover {
                    font-size: 24px;
                }
            }
        }
    }
    .movie__tab__item {
        .slick-next:before, .slick-prev:before {
            font-size: 0;
        }
        .list__film{
            .film__showing{
                position: relative;
                cursor: pointer;
                .film__img{
                    position: relative;
                    &>img{
                        height: 315px;
                        border-radius: 5px;
                    }
                }
                &:hover{
                    .film__img{
                        .film__hover{
                            position: absolute;
                            top:0;
                            background-image: linear-gradient(to top,#000,transparent 100%) ;
                            width: 100%;
                            height: 100%;
                        }
                        
                    }
                    .playButton{
                        opacity: 1;
                    }
                }
                .film__info{
                    position: relative;
                    margin-top:$mg-1;
                    .nameFilm{
                        height: 51px;
                        max-height: 51px;
                        font-size: 16px;
                        font-weight: 500;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        .age__type,.age__types{
                            color:$color-white-0;
                            background-color: $color-red-0;
                            border-radius: 4px;
                            padding: 0 5px;
                            min-width: 33px;
                            text-align: center;
                            display: inline-block;
                            margin-right: 8px;
                        }
                        .age__types{
                            background-color: $color-green-0;
                        }
                    }
                }
                .rateFilm{
                    background-color: rgba(12,27,54,.8);
                    border: 1px solid #1f2e46;
                    border-radius: 4px;
                    padding: 2px;
                    position: absolute;
                    top: 12px;
                    right: 25px;
                    color: $color-white-0;
                    width: 54px;
                    text-align: center;
                    line-height: 1.1;
                    .point{
                        font-size: 20px;
                    }
                    .star{
                        img{
                            display: inline-block;
                            height: 8px;
                            width: 8px;
                        }
                    }
                }
                .playButton{
                    opacity: 0;
                    position: absolute;
                    top:40%;
                    left:50%;
                    transform: translate(-50%, -50%);
                    transition: 0.5s;
                    img{
                        height: $height-1;
                        width: $width-1;
                    }
                }
            }
        }
        
        button.slick-arrow.slick-prev {
            position: absolute;
            top: 45%;
            background: url(../asset/icons/back-session.png);
            background-size: contain;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-position:center;
            z-index: 20;
            opacity: .5;
            left: -70px;
            height: 100px;
            width: 50px;
            background-color: transparent;
        }
        button.slick-arrow.slick-next {
            position: absolute;
            top: 45%;
            background: url(../asset/icons/next-session.png);
            background-size: contain;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-position:center;
            z-index: 20;
            opacity: .5;
            right: -70px;
            height: 100px;
            width: 50px;
            background-color: transparent;
        }
    }
}
