.movie__tab {
    padding-top: 75px;
    // background: url('../../asset/background.png') no-repeat;
    // margin:0 auto;
    
    .movie__tab__title {
        .tab__tittle__item {
            justify-content: center;
            align-items: center;
            border: 0;
            .nav-item {
                border: 0;
                font-size: 20px;
                color: $color-black-0;
                font-weight: 600;
                transition: 0.2s;
                &.active {
                    font-size: 24px;
                    color: $color-red-0;
                }
                &:hover {
                    font-size: 24px;
                }
            }
            
        }
    }
    .slick-list {
        // z-index: -10;
        position: static;
        z-index:100;
    }
    .movie__tab__item {
        .slick-next:before, .slick-prev:before {
            font-size: 0;
        }
        .list__film{
            .film__showing{
                color:$color-black-0;
                position: relative;
                cursor: pointer;
                transition: .9s;
                padding:0 10px;
                width: 25%;
                &:hover{
                    .btnGetTicket{
                        display: inline ;
                    }
                    .btnFilmDetail{
                        display: inline ;
                    }
                    .film__img{
                        .film__hover{
                            transition: .8s;
                            z-index: 1;
                            position: absolute;
                            top:0;
                            background-image: linear-gradient(to top,#000,transparent 100%) ;
                            width: 100%;
                            height: 100%;
                        }
                        
                    }
                    .film__info, .infoFilm{
                        visibility: hidden;
                    }
                    .playButton{
                        background-color: none;
                        z-index: 10;
                        opacity: 1;
                        
                    }
                }
                .btnGetTicket{
                    display: none;
                    position: absolute;
                    bottom:0;
                    left:50%;
                    transform: translate(-50%, -50%);
                    width: 90%;
                    padding:10px 0;
                    color:$color-white-0;
                    font-size: 1.3rem;
                    background-color: $color-red-0;
                    font-weight: $fw-1;
                    border:none;    
                    border-radius: 5px;
                    margin-bottom: $mg-1;
                    transition: 0.5s;
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        z-index: -2;
                      }
                      &:before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0%;
                        height: 100%;
                        background-color: darken(#ca260e, 15%);
                        transition: all .5s;
                        border-radius: 5px;
                        z-index: -1;
                      }
                      &:hover {
                        color: #fff;
                        &:before {
                          width: 100%;
                        }
                      }
                }
                .btnFilmDetail{
                    display: none;
                    position: absolute;
                    bottom:0;
                    left:50%;
                    transform: translate(-50%, -50%);
                    width: 90%;
                    padding:10px 0;
                    color:$color-white-0;
                    font-size: 1.3rem;
                    background-color: $color-green-0;
                    font-weight: $fw-1;
                    border:none;    
                    border-radius: 5px;
                    margin-bottom: $mg-1;
                    transition: 0.5s;
                    &:hover{
                        background: #008c3f;
                    }
                }
                .film__img{
                    position: relative;
                    &>img{
                        height: 315px;
                        border-radius: 5px;
                    }
                }
                
                .film__info{
                    position: relative;
                    margin-top:$mg-1;
                    .nameFilm{
                        height: 51px;
                        max-height: 51px;
                        font-size: 16px;
                        font-weight: 500;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        .age__type,.age__types{
                            color:$color-white-0;
                            background-color: $color-red-0;
                            border-radius: 4px;
                            padding: 0 5px;
                            min-width: 33px;
                            text-align: center;
                            display: inline-block;
                            margin-right: 8px;
                        }
                        .age__types{
                            background-color: $color-green-0;
                        }
                    }
                }
                .rateFilm{
                    background-color: rgba(12,27,54,.8);
                    border: 1px solid #1f2e46;
                    border-radius: 4px;
                    padding: 2px;
                    position: absolute;
                    top: 12px;
                    right: 25px;
                    color: $color-white-0;
                    width: 54px;
                    text-align: center;
                    line-height: 1.1;
                    .point{
                        font-size: 20px;
                    }
                    .star{
                        img{
                            display: inline-block;
                            height: 8px;
                            width: 8px;
                        }
                    }
                }
                .playButton{
                    opacity: 0;
                    position: absolute;
                    top:40%;
                    left:50%;
                    transform: translate(-50%, -50%);
                    transition: 0.5s;
                    img{
                        height: $height-1;
                        width: $width-1;
                    }
                }
            }
        }
        
        button.slick-arrow.slick-prev {
            position: absolute;
            top: 45%;
            background: url(../asset/icons/back-session.png);
            background-size: contain;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-position:center;
            z-index: 20;
            opacity: .5;
            left: -70px;
            height: 100px;
            width: 50px;
            background-color: transparent;
        }
        button.slick-arrow.slick-next {
            position: absolute;
            top: 45%;
            background: url(../asset/icons/next-session.png);
            background-size: contain;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-position:center;
            z-index: 20;
            opacity: .5;
            right: -70px;
            height: 100px;
            width: 50px;
            background-color: transparent;
        }
    }
}
.back__news{
    padding-top:120px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.slick-slider.slick-initialized {
    z-index: 1 !important;
    
}
// .slick-list{
//     position: relative;
//     display: block;
//     overflow: hidden;
//     margin: 0;
//     padding: 0;
// }


// responsive
@include responsive("extra-large") {
    button.slick-arrow.slick-prev, button.slick-arrow.slick-next{
        display: none !important;
    }
}
// @include responsive("large") {
//     .film__showing{
//         width: 33.33% !important;
//     }
// }
@include responsive("medium") {
    .film__img{
        &>img{
            height: 415px !important;
            border-radius: 10px !important;
        }
    }
    .movie__tab__title {
        .tab__tittle__item {
            .nav-item {
                font-size: 17px !important;
                &.active {
                    font-size: 20px !important;
                }
                &:hover {
                    font-size: 20px !important;
                }
            }
            
        }
    }
}

