.movie__tab {
    padding-top: 75px;
    // margin:0 auto;
    .movie__tab__title {
        .tab__tittle__item {
            justify-content: center;
            border: 0;
            .nav-item {
                border: 0;
                font-size: 20px;
                color: $color-black-0;
                font-weight: 500;
                transition: 0.2s;
                &.active {
                    font-size: 24px;
                    color: $color-red-0;
                }
                &:hover {
                    font-size: 24px;
                }
            }
        }
    }
    .movie__tab__item {
        .slick-next:before, .slick-prev:before {
            font-size: 0;
        }
        #nav-showing{
            .card{
                border: none;
                img{
                    border-radius: 5px !important;
                    height:300px !important;
                }
                .card-body{
                    span#age__movie{
                        font-size: 14px;
                        background-color: #fb4226;
                        border-radius: 4px;
                        padding: 0 5px;
                        color: #fff;
                        min-width: 33px;
                        text-align: center;
                        display: inline-block;
                    }
                }
                
            }
        }
        button.slick-arrow.slick-prev {
            position: absolute;
            top: 45%;
            background: url(../asset/icons/back-session.png);
            background-size: contain;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-position:center;
            z-index: 20;
            opacity: .5;
            left: -70px;
            height: 100px;
            width: 50px;
            background-color: transparent;
        }
        button.slick-arrow.slick-next {
            position: absolute;
            top: 45%;
            background: url(../asset/icons/next-session.png);
            background-size: contain;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-position:center;
            z-index: 20;
            opacity: .5;
            right: -70px;
            height: 100px;
            width: 50px;
            background-color: transparent;
        }
    }
}
