

.seat{
    width: 30px;
    height: 30px;
    border:none !important;
    outline: none !important;
    border-radius: 5px;
    margin: 5px;
    background-color: #3e515d;
    
}

.seatBooked{
    background-color: #ccc !important;
    cursor: no-drop !important;
}

.seatVIP {
    background-color: #f7b500 !important;
}

.seatBooking {
    background-color: greenyellow !important;
}
.seatVIPBooked{
    background-color: #ef533b !important;
}